<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>
   <% if @book.errors.any? %>
       <h4>入力した内容にエラーが<%= @book.errors.count %>件あります</h4>
       <ul>
	      <% @book.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	      <% end %>
       </ul>
     <% end %>

	  <h4>Title</h4>
	  <%= f.text_field :title %>
	  <h4>Body</h4>
	  <%= f.text_area :body %>

  <%= f.submit 'Update book' %>
<% end %>

<%= link_to "Show",book_path(@book) %>
<%= link_to "Back",books_path %>