<h1>Books</h1>


  <div class="box">
	<table class="">
	  <thead>
	  	<tr class="tree">
		  <th>Title</th>
		  <th>Body</th>
		  <th colspan="5"></th>
		</tr>
	  </thead>
		  <tr align="center">
		  	<% @books.each do |book| %>
			<td><%= book.title %></td>
			<td><%= book.body %></td>
			<td><%= link_to "Show",book_path(book.id) %></td>
			<td><%= link_to "Edit",edit_book_path(book.id) %></td>
			<td><%= link_to "destroy",book_path(book.id),method: :delete,"data-confirm"=>"本当に削除しますか？" %></td>
		  </tr>
		<% end %>
	</table>
  </div>
<!-- form_for -->
<h3>New book</h3>
　<%= form_for(@book) do |f| %>
     <% if @book.errors.any? %>
       <h4>入力した内容にエラーが<%= @book.errors.count %>件あります</h4>
       <ul>
	      <% @book.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	      <% end %>
       </ul>
     <% end %>

	  <h4>Title</h4>
	  <%= f.text_field :title %>
	  <h4>Body</h4>
	  <%= f.text_area :body %>
	  <%= f.submit '投稿' %>
 <% end %>
